body{
    width: 60%;
    margin: auto;
}

#jatekTer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.elem {
    border: 1px solid black;
    padding: 2px;
    font-size: 25px;
    aspect-ratio: 1;    /*egyenlo magas es szeles*/
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

#sectUrlap {
    margin-bottom: 50px;

}
h2 {
    text-align:start;
    margin-top: 0;
}
footer {
    margin-top: 50px;
    text-align: start;
    display: grid;
}   